---
 const {buttonText, buttonColor, linkButton} = Astro.props;
---
<style>
    .button{
        display: inline-flex;
        text-decoration: none;
        color: inherit;
        width:  100%;
        background-color: white;
        padding: 35px;
        margin-top: 10px; /* 70 px para pantallas mas grandes*/
        border-radius: 12px;
        border-top-width: 1px;
        border-left-width: 1px;
        border-right-width: 7px;
        border-bottom-width: 7px;
        border-style: solid;
        box-sizing: border-box;
    }
</style>

<a href={linkButton} class="button"  style={{borderColor:buttonColor}}>
   {buttonText} 
</a>
